ACCOUNT=pribadi

BACKEND_RUNNING_PORT=your_running_port # Port number for the Express server to run (in localhost)

SECRET_KEY_JWT=your_jwt_secret_key # Secret key for JWT authentication

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

CLOUDINARY_DEFAULT_USER_AVATAR_URL=your_cloudinary_uploaded_default_user_avatar_url

DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE

PGHOST=your_vercel_database_host
PGHOST_UNPOOLED=your_vercel_database_host
PGUSER=your_vercel_database_user
PGDATABASE=your_vercel_database
PGPASSWORD=your_vercel_database_password