ENV_STAGE=your_stage # Environment stage: 'dev' or 'prod'

BACKEND_RUNNING_PORT=your_running_port # Port number for the Express server to run (in localhost)
CLIENT_URL=your_client_url # URL of the client application

SECRET_KEY_JWT=your_jwt_secret_key # Secret key for JWT authentication

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

CLOUDINARY_DEFAULT_USER_AVATAR_URL=your_cloudinary_uploaded_default_user_avatar_url

DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE

REDIS_URL=your_redis_host
REDIS_UNIQUE_KEY=your_redis_unique_key
REDIS_SESSION_ID=your_redis_session_id